*{
    padding: 0;
    margin: 0;
    font-family: sans-serif;
}
table{
    margin: 2rem auto 0 auto;
    font-size: 1.4rem;
}
td{
    padding: 4px 8px;
}
.edit{
    text-align: center;
    background: #fff;
}
.edit:hover{
    background-color: rgb(112, 112, 112);
    color: white;
}
.new-btn{
    width: 20%;
    text-align: center;
    margin: 30px auto;
    display: block;
    padding: 10px 20px;
    border: 1px solid black;
    border-radius: 5px;
    text-decoration: none;
    color: black;
    transition-duration: 300ms;
}
.new-btn:hover{
    width: 25%;
    background: #000;
    color: white;
}
input[type="text"], select{
    font-size: 1.2rem;
    padding: 8px 10px;
}
input[value="Save"]{
    border: 0;
    border-radius: 5px;
    font-size: 1rem;
    padding: 10px 20px;
    width: 45%;
    background: rgb(172, 172, 172);
}
input[value="Clear"]{
    font-size: 1rem;
    padding: 10px 20px;
    width: 45%;
    border: none;
    background: white;
    border-radius: 5px;
}
input[value="Save"]:hover, input[value="Clear"]:hover{
    background: rgb(85, 85, 85);
    transition-duration: 300ms;
    color: #fff;
}